@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,700);

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body{
	padding: 30px;
	background-color: #1b1f29;
	font-size: 16px;
	font-family: "Dosis";
	color: #9bb6c9;
	overflow: hidden;
}

.clear{
	clear: both;
}

.dashboardDiv{
	background-color: #292e39;
	width: 590px;
	height: 310px;
	margin: 15px;
	float: left;
	border-radius: 6px;
	box-shadow: 0 0 3px #333;
	overflow: hidden;
	position: relative;
}

#combatDashboard{
	width: 1210px;
}

.dashboardDiv .dashHeader{
	height: 50px;
	background-color: #2d3342;
	border-bottom: 1px solid #282c38;
}

.dashboardDiv .dashHeader h2{
	color: #EFEFEF;
	margin: 0;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-weight: 100;
}

.dashboardDiv .innerContent{
	padding: 30px;
}

/* Overlay */
.anyOverlay{
	width: 0px;
	height: 1080px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12000;
	background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display: block;
	overflow: hidden;
}

#theOverlay{
	background: url("../images/pauseBg.jpg") no-repeat center center fixed;
}
#theMapOverlay{
	background-color: #5baece;
	background: url("../images/bgMap.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
}

.anyOverlay button{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12001;
	background-color: transparent;
	display: block;
}

/* Testing
.dashboardDiv{
	left: -10000px;
	position: absolute;
}

.dashboardDiv:nth-child(4){
	position: relative;
	left: 0;
}
*/
