#contentMap{
  background-image: url(../images/bgMapOpa.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  height: 310px;
}

#contentMap:before{
  content: "";
  widows: 200px;
  height: 200px;
  display: block;
  position: absolute;
  background-color: red;
}

#contentMap .dashHeader{
  background-color: transparent;
  border-bottom: 1px solid #FFF;
}

#contentMap #mapSide{
  margin-top: 40px;
  border-radius: 0 6px 0 0;
  height: 310px;
  width: 200px;
  float: left;
  background-color: #FFF;
  box-shadow: 0 0 5px #333;
}

#contentMap #mapSide input{
  background-color: #F8F8F8;
  border-radius: 0 6px 0 0;
  padding-left: 20px;
  font-size: 15px;
  color: #333;
  display: block;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #EFEFEF;
}
