/* Buttons */
#combatTracker .dashHeader i{
  position: absolute;
  top: 17px;
  cursor: pointer;
}

#combatTracker #combatSort{
  left: 20px;
}

#combatTracker #combatSave{
  left: 50px;
}

#combatTracker #combatLoad{
  left: 80px;
}

#combatTracker #combatPause{
  right: 20px;
}

/* Slight hide */
#combatDashboard .player, #combatDashboard .enemy{
  opacity: 0.2;
  transition: all 0.5s;
}

#combatDashboard:hover .player, #combatDashboard:hover .enemy{
  opacity: 1;
}

/* Combat */
#combatTracker .player, #combatTracker .enemy{
  float: left;
  margin-right: 20px;
  position: relative;
}

#combatTracker .player img, #combatTracker .enemy img{
  display: block;
  margin-bottom: 15px;
  border-radius: 50%;
}

#combatTracker .enemy img{ border-radius: 0; }

#combatTracker .stats input{
  width: 25px;
  background-color: transparent;
  text-align: center;
  color: #FFF;
  border-bottom: 1px solid #555e72;
  position: relative;
}

#combatTracker .stats .firstfieldHealth{
  color: red;
  font-weight: bold;
}

#combatTracker .stats .fieldInitiative{
  width: 35px;
  left: 20px;
}

#combatTracker .stats .fieldSlots{
  width: 35px;
  left: 15px;
}

#combatTracker .stats .fieldMoney{
  width: 35px;
  left: 9px;
}

#combatTracker .stats .fieldCons{
  width: 35px;
  left: 12px;
}

/* Players */
.player:after{
  display: block;
  width: 80px;
  height: 30px;
  background-color: #1b1f29;
  position: absolute;
  top: 60px;
  left: 0;
  padding: 4px 10px;
  border-radius: 8px;
  text-align: center;
}

#playerNala:after{
  content: "Nala";
}

#playerLai:after{
  content: "Lai";
}

#playerOttan:after{
  content: "Ottan";
}

#playerThia:after{
  content: "Thia";
}

/* Die roll window */
#combatTracker .innerContent{
	position: relative;
}

.dierollWindow{
  background-color: #232832;
  height: 260px;
  width: 180px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
}

.dieRollRow{
  margin-bottom: 5px;
  position: relative;
}

.dierollWindow .dieRollRow img{

}

.dierollWindow .dieRollRow button{
  background-color: #1b1f29;
  padding: 2px 0px;
  border-radius: 8px;
  cursor: pointer;
  width: 60px;
  position: relative;
  right: -7px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dierollWindow .dieRollRow .rollResults{
  width: 20px;
  border-bottom: 1px solid #555e72;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}

.dierollWindow .dieRollRow button:hover{
  background-color: #9bb6c9;
  color: #1b1f29;
}

.dierollWindow .dieRollRow div{

}

.dierollWindow{

}

.dieRollRowLoading{
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  right: -4px;
  background-image: url(../images/preloader.gif);
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Enemy */
.enemyName{

}

.enemyName input{
  display: block;
  width: 80px;
  height: 30px;
  background-color: #1b1f29;
  position: absolute;
  top: 60px;
  left: 0;
  padding: 4px 10px;
  border-radius: 8px;
  text-align: center;
}

/* Notifications */
#combatTracker .notification{
  position: absolute;
  top: 15px;
  left: 110px;
}
