/* NPC */
#contentNPC{}

/* Buttons */
#contentNPC .dashHeader i{
  position: absolute;
  top: 17px;
  cursor: pointer;
}

#contentNPC #npcNala{
  right: 110px;
}

#contentNPC #npcLai{
  right: 80px;
}

#contentNPC #npcThia{
  right: 50px;
}

#contentNPC #npcOttan{
  right: 20px;
}

#contentNPC #npcGood{
  left: 20px;
}

#contentNPC #npcBad{
  left: 50px;
}

#contentNPC #npcShibukai{
  left: 80px;
}

#contentNPC #npcGroup{
  left: 110px;
}

#contentNPC #npcRandom{
  left: 140px;
  display: none;
}

#contentNPC .backNPCs{
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 18px;
  z-index: 55;
  color: #FFF;
  text-shadow: 0 0 5px #333;
}

#contentNPC .innerContent{
  padding: 0;
}

#contentNPC .innerContent h3{
  margin-top: 0;
  margin-bottom: 20px;
}

#contentNPC .innerContent .descriptions{
  padding: 30px;
  float: left;
  width: 390px;
  height: 260px;
  overflow: auto;
  background-color: #232832;
  position: relative;
  z-index: 50;
}

#contentNPC .innerContent .descriptions i{
  padding-right: 5px;
}

#contentNPC .carousel{
  background-color: #232832;
  height: 260px;
  width: 200px;
  float: left;
  display: inline-block;
}

#contentNPC .carousel img{
  width: 100%;
  height: auto;
}

/* Back Arrow*/
#contentNPC .backNPC{
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 18px;
  z-index: 55;
  color: #FFF;
  text-shadow: 0 0 5px #333;
}

/* NPC's */

#contentNPC .nNPC{
  position: absolute;
  top: 0px;
  left: 200px;
  width: 590px;
  opacity: 0;
}

.nalaNPC, .laiNPC, .thiaNPC, .ottanNPC, .goodNPC, .badNPC, .shibukaiNPC, .randomNPC, .groupNPC{
  height: 260px;
  width: 590px;
  background-image: url(../images/npc/bg.png);
  background-position: right 0px bottom -40px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 50px;
}

/* Background images */
#contentNPC .carousel span{
  display: block;
  width: 200px;
  height: 260px;
  background-image: url("../images/npc/qllNPCs.png");
}

/**/
#contentNPC #gNPC1 .img1{ background-position: 0px 0px; }
#contentNPC #gNPC2 .img1{ background-position: -200px 0px; }
#contentNPC #gNPC3 .img1{ background-position: -400px 0px; }
#contentNPC #gNPC4 .img1{ background-position: -600px 0px; }
#contentNPC #gNPC5 .img1{ background-position: -800px 0px; }
#contentNPC #gNPC6 .img1{ background-position: -1000px 0px; }
#contentNPC #gNPC7 .img1{ background-position: -1200px 0px; }
#contentNPC #gNPC8 .img1{ background-position: -1400px 0px; }
#contentNPC #gNPC9 .img1{ background-position: -1600px 0px; }
#contentNPC #gNPC10 .img1{ background-position: -1800px 0px; }
/**/
#contentNPC #bNPC1 .img1{ background-position: 0px -260px; }
#contentNPC #bNPC2 .img1{ background-position: -200px -260px; }
#contentNPC #bNPC3 .img1{ background-position: -400px -260px; }
#contentNPC #bNPC4 .img1{ background-position: -600px -260px; }
#contentNPC #bNPC5 .img1{ background-position: -800px -260px; }
#contentNPC #bNPC6 .img1{ background-position: -1000px -260px; }
#contentNPC #bNPC7 .img1{ background-position: -1200px -260px; }
/**/
#contentNPC #sNPC1 .img1{ background-position: 0px -520px; }
#contentNPC #sNPC2 .img1{ background-position: -200px -520px; }
#contentNPC #sNPC3 .img1{ background-position: -400px -520px; }
#contentNPC #sNPC4 .img1{ background-position: -600px -520px; }
#contentNPC #sNPC5 .img1{ background-position: -800px -520px; }
#contentNPC #sNPC6 .img1{ background-position: -1000px -520px; }
#contentNPC #sNPC7 .img1{ background-position: -1200px -520px; }
