/* Story */
#contentStory{}

/* Buttons */
#contentStory #timeUp{
  position: absolute;
  top: 17px;
  left: 20px;
  cursor: pointer;
}

#contentStory #timeDown{
  position: absolute;
  top: 17px;
  left: 50px;
  cursor: pointer;
}

#contentStory #storyPrev{
  position: absolute;
  top: 17px;
  right: 50px;
  cursor: pointer;
}

#contentStory #storyNext{
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
}

/* --- */

#contentStory .innerContent{
  padding: 0px;
}

#contentStory .lineTime{
  border-right: 1px solid #1b1f29;
  width: 30px;
  height: 600px;
  float: left;
}

#contentStory .dates{
  width: 70px;
  float: left;
  padding: 30px 0 30px 10px;
}

#contentStory .dates p, #contentStory .timeLine p{
  overflow: hidden;
}

#contentStory .timeLine{
  width: 190px;
  float: left;
  padding-top: 30px;
}

#contentStory .generalStory{
  background-color: #232832;
  width: 300px;
  float: left;
  height: 260px;
  position: relative;
}

#contentStory .generalStory .innerStory{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 260px;
  padding: 30px;
  background-color: #232832;
}

#contentStory .generalStory #storyPart2{
  left: 300px;
}

#contentStory .generalStory #storyPart3{
  left: 300px;
}

#contentStory .generalStory h3{
  font-size: 20px;
  margin: 0 0 10px 0;
  color: #FFF;
}

#contentStory .dates p{
  position: relative;
  left: -18px;
  padding-left: 18px;
}

#contentStory .dates p:after{
  content: "";
  position: absolute;
  z-index: 500;
  top: 9px;
  left: 5px;
  display: block;
  background-color: #1b1f29;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

#contentStory{}

#contentStory{}
