/* Stuff */

/* Story */
#contentStuff{}

/* Buttons */
#contentStuff #stuffMelee{
  position: absolute;
  top: 17px;
  left: 20px;
  cursor: pointer;
}

#contentStuff #stuffRanged{
  position: absolute;
  top: 17px;
  left: 50px;
  cursor: pointer;
}

#contentStuff #stuffArmor{
  position: absolute;
  top: 17px;
  left: 80px;
  cursor: pointer;
}

#contentStuff #stuffPotion{
  position: absolute;
  top: 17px;
  left: 110px;
  cursor: pointer;
}

#contentStuff #stuffStory{
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
}

#contentStuff .backStuff{
  position: absolute;
  top: 17px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

/* --- */

#contentStuff .innerContent{
  /*padding: 0px;*/
}

#contentStuff .stuffs{
  position: absolute;
  top: 0;
  left: 600px;
}

#contentStuff .stuffContent{
  position: absolute;
  top: 50px;
  width: 590px;
  height: 260px;
  overflow: hidden;
  padding: 20px;
}

#contentStuff .c1, .c2, .c3, .c4, .c5, .c6{
  float: left;
}

#contentStuff .c1{
  width: 30%;
}

#contentStuff .c2{
  width: 25%;
}

#contentStuff .c3{
  width: 15%;
}

#contentStuff .c4{
  width: 10%;
}

#contentStuff .c5{
  width: 15%;
}

#contentStuff .c6{
  width: 75%;
}

#contentStuff .red{
  color: red;
}

/* Potions */

#contentStuff .pot{
  position: relative;
  color: #1b1f29;
}

#contentStuff .pot span{
  position: absolute;
  top: 2px;
  border-radius: 50%;
  display: block;
  width: 15px;
  height: 15px;
}

#contentStuff .potR{
  background-color: red;
}

#contentStuff .potY{
  background-color: yellow;
}

#contentStuff .potB{
  background-color: blue;
}

#contentStuff .potW{
  background-color: white;
}

#contentStuff .potK{
  background-color: black;
}

#contentStuff .potG{
  background-color: green;
}

#contentStuff .potP{
  background-color: purple;
}

/* Story */

#contentStuff .sstory .sidebar{
  top: 0px;
}

#contentStuff .nNPC{
  position: absolute;
  top: 0px;
  left: 200px;
  width: 590px;
  opacity: 0;
}

#contentStuff .sstory{
  height: 260px;
  width: 590px;
  /*background-image: url(../images/npc/bg.png);*/
  background-position: right 0px bottom -40px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 50px;
}

#contentStuff .sStu{
  position: absolute;
  top: 0px;
  left: 600px;
  width: 590px;
  height: 260px;
  overflow: hidden;
}

#contentStuff .sStu .descriptions{
  padding: 20px;
  width: 390px;
  position: absolute;
  top: 0;
  left: 200px;
  height: 260px;
  overflow: hidden;
}

/* Background images */
#contentStuff .carousel{
  width: 200px;
  position: absolute;
  top: 0;
  left: 0
}

#contentStuff .carousel span{
  display: block;
  width: 200px;
  height: 260px;
  background-image: url("../images/stuff/allStuff.png");
}

/**/
#contentStuff #ss1 .img1{ background-position: 0px 0px; }
#contentStuff #ss2 .img1{ background-position: -200px 0px; }
#contentStuff #ss3 .img1{ background-position: -400px 0px; }
#contentStuff #ss4 .img1{ background-position: -600px 0px; }
#contentStuff #ss5 .img1{ background-position: -800px 0px; }
#contentStuff #ss6 .img1{ background-position: -1000px 0px; }
#contentStuff #ss7 .img1{ background-position: -1200px 0px; }
#contentStuff #ss8 .img1{ background-position: -1400px 0px; }
