/* Stuff */

/* Story */
#contentStuff{}

/* Buttons */
#contentStuff #stuffMelee{
  position: absolute;
  top: 17px;
  left: 20px;
  cursor: pointer;
}

#contentStuff #stuffRanged{
  position: absolute;
  top: 17px;
  left: 50px;
  cursor: pointer;
}

#contentStuff #stuffArmor{
  position: absolute;
  top: 17px;
  left: 80px;
  cursor: pointer;
}

#contentStuff #stuffPotion{
  position: absolute;
  top: 17px;
  left: 110px;
  cursor: pointer;
}

#contentStuff #stuffStory{
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
}

/* --- */

#contentStuff .innerContent{
  /*padding: 0px;*/
}

#contentStuff .stuffs{
  position: absolute;
  top: 0;
  left: 600px;
}

#contentStuff .stuffContent{
  position: absolute;
  top: 50px;
  width: 590px;
  height: 260px;
  overflow: hidden;
  padding: 20px;
}

#contentStuff .c1, .c2, .c3, .c4, .c5, .c6{
  float: left;
}

#contentStuff .c1{
  width: 30%;
}

#contentStuff .c2{
  width: 25%;
}

#contentStuff .c3{
  width: 15%;
}

#contentStuff .c4{
  width: 10%;
}

#contentStuff .c5{
  width: 15%;
}

#contentStuff .c6{
  width: 75%;
}

#contentStuff .red{
  color: red;
}

/* Potions */

#contentStuff .pot{
  position: relative;
  color: #1b1f29;
}

#contentStuff .pot span{
  position: absolute;
  top: 2px;
  border-radius: 50%;
  display: block;
  width: 15px;
  height: 15px;
}

#contentStuff .potR{
  background-color: red;
}

#contentStuff .potY{
  background-color: yellow;
}

#contentStuff .potB{
  background-color: blue;
}

#contentStuff .potW{
  background-color: white;
}

#contentStuff .potK{
  background-color: black;
}

#contentStuff .potG{
  background-color: green;
}

#contentStuff .potP{
  background-color: purple;
}

/* Story */

#contentStuff .sstory .sidebar{
  top: 50px;
}
